#include <dt-bindings/zmk/matrix_transform.h> 

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,split = &split;
        zmk,matrix_transform = &keymap_transform;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN_1x1_TEST";
        
        /* --- TESTE COM LÓGICA col2row --- */
        /* Vamos testar a tecla no canto superior esquerdo */

        // O pino da primeira coluna visual
        col-gpios = <&gpio0 2 (GPIO_ACTIVE_HIGH)>;

        // O pino da primeira fileira visual
        row-gpios = <&gpio1 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
    };

    split: split {
        compatible = "zmk,split-ble";
        label = "SPLIT";
    };

    keymap_transform: keymap_transform {
        compatible = "zmk,matrix-transform";
        columns = <1>;
        rows = <1>;
        map = < RC(0,0) >;
    };
};
